/*
https://www.youtube.com/watch?v=8EPgnN9Xrdk
display: block
|_| 
|_|
|_|
display padrao: DIV, SECTION, P, H1, H2, UL, ARTICLE

display: inline
|____| |__|
|__| |____|
display padrao: A, B, SPAN

display: inline-block
|_| |_| |_|
|_| |_| |_|

flexbox
https://www.youtube.com/redirect?event=video_description&redir_token=QUFFLUhqbTN1WU9vX1gyLWkzWEFNUlBNQThWX09PaG1fZ3xBQ3Jtc0tuX3ZqWHBRcXZpQm5EN1lGLWVvSTNZSVZNbG0yNjB6dnBsNHFEVFNQUXVaWWlsa00tdDItdUxfbl9teEZRZ0xIZDl4X3ctTFg4SjUzUVhGcl9pLUhJVVZOSGZPN1FTZ1hGbzVBYnJIc3UyRm5WZ0FHcw&q=https%3A%2F%2Fcss-tricks.com%2Fsnippets%2Fcss%2Fa-guide-to-flexbox%2F&v=llF6vD-RljE



*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@500&display=swap');

* {
    /*zerando margin e padding para todos os navegadores*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    font-family: 'Cormorant Upright', serif;
    background-image: url(/images/Pink\ cloud\ natural\ phone\ wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.logo-cabecalho{
    width: 72px;
    height: 72px;
    border-radius: 50px 50px;
}
.logo{
    width: 50px;
    height: 50px;
    border-radius: 50px 50px;
}
.ba-terapiaa{
    margin-top: 40px;
    width: 300px;
    height: 300px;
    border-radius:50px 50px;

   
}
.footer-logo{
    width: 300px;
    height: 300px;
    padding: 32px;
    border-top: 0.4px solid black;
    display: block;
    margin: 0 auto;
    
}
.cabecalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
    
}
.cabecalho-menu{
    font-size: 20px;
    display:flex;
    gap: 32px;

}
.cabecalho-menu-item{
   
   font-weight: 400;
   
}
/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(188, 178, 178);
  }
  
  /* selected link */
  a:active {
    color: black;
  }
  .conteudo{
    border-top: 0.4px solid black;
    margin-bottom: 48px;
  }
  .conteudo-principal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-titulo{
    font-weight: 400;
    font-size: 64px;
    color: black;
}
.conteudo-principal-sub{
    font-weight: 400;
    font-size: 24px;
    color: black;
}
.conteudo-principal-botao{
    background-color:#DDA0DD;
    width: 180px;
    height: 60px;
    border-radius: 20px;
    font-size: 18px;
    border: #DDA0DD;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-weight: 400;
}
.conteudo-principal-botao:hover{
    background-color: rgba(0, 0, 0, 0.25);
}
.conteudo-secondario{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}
.conteudo-secundario-titulo{
    border-top: 0.4px solid black;
    padding-top: 48px;
    font-weight: 400px;
    font-size: 24px;
    color: black;
    margin-bottom: 16px;
}
.conteudo-secundario-p{
    font-weight: 400;
    font-size: 18px;
    color: black;
}
